HELP.md
target/
profile-images/
final-reports/

!**/src/main/**
!**/src/test/**
mvnw
mvnw.cmd
.mvn

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
